.pageContainer {
    padding: 0 50px;
}

header {
    background: #3c3c3c;
    color: #f5f5f5;
}

.topmenu {
    display: block;
    text-align: right;
    padding: 19px 30px;
    margin: 0;
}

.topmenu li {
    display: inline-block;
    padding: 0 10px;
}

.topmenu li a {
    color: #f5f5f5;
    text-decoration: underline;
}

.topsections {
    display: block;
    padding: 19px 30px;
    margin: 0;
}

.topsections li {
    display: inline-block;
    padding: 0 10px;
}

.topsections li a {
    color: #f5f5f5;
    text-decoration: underline;
}

.topsections li.active, .topmenu li.active {
    background: #f5f5f5;
    border-radius: 5px;
}

.topsections li.active a, .topmenu li.active a {
    color: black;
}

.sidebar {
    background: #f5f5f5;
    margin: 20px 0;
}

.content-tree, .content-tree ul {
    list-style-type: circle;
}

.form {
    margin: 0 0 50px 0;
}

.elfinder-container {
    height: 800px;
}

.elfinder-container > div {
    height: 100%;
}

.pageSizer {
    padding: 30px 0;
}

.pageSizer a.active {
    color: black;
    cursor: default;
    text-decoration: none;
    font-weight: bold;
}

span.headerTable {
    display: none;
}

.tableDataContainer {
    width: 100%;
}

.tableDataContainer td.delButton {
    width: 100px;
}

input.tableData {
    display: none;
}

.tableDataContainer td {
    padding: 5px 10px;
}

.tableDataContainer tr.last {
    display: none;
}

@media print {
    header, .sidebar, .summary, .pageBox, .filters, a.headerTable, .grid-view th:last-child, .grid-view td:last-child, h1 span {
        display: none;
    }

    span.headerTable {
        display: inline;
    }
}

.voteTable {
    /*width: 100%;*/
    border-collapse: collapse;
}

.voteTable td {
    border: 1px solid black;
    padding: 2px 5px;
}



















.logo {
    display: block;
    vertical-align: middle;
    text-decoration: none;
    margin: 20px 0;
    color: black;
}

.logo:hover {
    text-decoration: none;
    color: black;
}

.logo > img {
    width: 50px;
    margin: 0 5px 0 0;
}

.actionButtons {
    margin: 0 0 15px 0;
}

.multipletable {
    width: 100%;
}

.multipletable td {
    padding: 2px 10px;
}

.multipletable tr.copy {
    display: none;
}